
[class*="--lg"] {
  display: inline-block;
  width: 50%;
  font-size: 1.9rem;
}
[class*="--lg"]:not(:last-child) {
  margin-bottom: 1rem;
}

.inputForm {
  background-color: #FFECD8;
  margin: 3rem;
  border: 1.5px dashed #FFCA93; 
  border-radius: 10px;
  height: 5rem;
  width: -webkit-fill-available;
  text-align: center;
  color: #FFCA93;
}
