$color-light-100: #FFF4E9;
$color-light-200: #FFDFBE;
$color-light-300: #FFCA93;
$color-medium-400: #FEB567;
$color-medium-500: #FEA03C;
$color-medium-600: #E58622;
$color-dark-800: #B2681B;
$color-dark-900: #7F4B13;
$color-dark-900: #331E08;
